*.txt
.ipynb_checkpoints/
.DS_Store
__pycache__/
*.csv
env.py
*.xlsx
*.json
.virtual_documents/
.ipynb_checkpoints/
__pycache__
env.py
.ipynb_checkpoints/
__pycache__
.DS_Store
Thumbs.db
.vscode/
*.csv
*.json
*.xlsx
*.jpg
*.png